@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&display=swap");
@import "tailwindcss";

/* =========================
   BASE (elements only)
   ========================= */
@layer base {
  body {
    background-image: url("/wallpapers/welcome.gif");
    background-size: cover;
    background-position: center;
    font-family: "Josefin Sans", sans-serif;
  }
}

/* =========================
   COMPONENTS
   ========================= */
@layer components {
}

/* =========================
   UTILITIES
   ========================= */
@layer utilities {
  /* ::-webkit-scrollbar {
    display: none;
  } */
}

/* =========================
   THEME (Tailwind v4)
   ========================= */
@theme {
  --color-primary: #1e3a8a;
  --color-secondary: #2563eb;
  --color-background: #0f172a;
  --color-input-border: #f9fafb;
  --color-text-primary: #f9fafb;
}
